<div class="product-list-container">

  <div class="content">
    <div class="search-sort-bar">
      <app-search (searchChanged)="onSearchChange($event)"></app-search>
      <app-select (sortOptionChanged)="onSortOptionChange($event)"></app-select>
    </div>
    <div class="product-list-container d-flex">
      <div class="sidebar">
        <app-category-list (categorySelected)="onCategoryChange($event)"></app-category-list>
      </div>
      <ix-layout-grid>
        <ix-row>
          <ix-col size="6" [sizeLg]="3" sizeMd="4" *ngFor="let product of filteredProducts">
    <app-product-card  [product]="product"></app-product-card>

          </ix-col>
  </ix-row>
</ix-layout-grid>
    </div>
  </div>
</div>
