<ix-tabs [selected]="selectedTab">
  <ix-tab-item (click)="changeTab(0)">Grid</ix-tab-item>
  <ix-tab-item (click)="changeTab(1)">AGGrid</ix-tab-item>
</ix-tabs>

<div *ngIf="selectedTab === 0" class="product-list-container overflow-hidden">
  <ix-content>
    <div class="search-sort-bar d-flex align-items-center justify-content-between">
      <app-search (searchChanged)="onSearchChange($event)"></app-search>
      <app-select (sortOptionChanged)="onSortOptionChange($event)"></app-select>
    </div>
  </ix-content>
  <div class="product-list-container d-flex flex-column flex-lg-row">
    <div class="sidebar">
      <app-category-list (categorySelected)="onCategoryChange($event)"></app-category-list>
    </div>
    <ix-layout-grid>
      <ix-row *ngIf="filteredProducts.length > 0">
        <ix-col size="6" [sizeLg]="3" sizeMd="4" *ngFor="let product of filteredProducts">
          <app-product-card class="h-100 d-block" [product]="product"></app-product-card>
        </ix-col>
      </ix-row>
      <ix-row *ngIf="filteredProducts.length === 0">
        <app-empty-state></app-empty-state>
      </ix-row>
    </ix-layout-grid>
  </div>
</div>

<div *ngIf="selectedTab === 1">
  <ix-content>
    <app-search-input (searchChanged)="onQuickFilterChanged($event)"></app-search-input>
    <ag-grid-angular
      style="width: 100%; height: calc(100vh - 200px);"
      class="ag-theme-alpine-dark ag-theme-ix"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [quickFilterText]="quickFilterText"
      (rowClicked)="onRowClicked($event)">
    </ag-grid-angular>
  </ix-content>
</div>

<ng-template #customModal let-modal>
  <ix-modal>
    <ix-modal-header>Select the action you want to perform</ix-modal-header>
    <ix-modal-content>
      <div>
        <ix-button class="d-block mb-2" (click)="modal.close('view')">View Product</ix-button>
        <ix-button class="d-block mb-2" (click)="modal.close('favorite')">
          {{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}
        </ix-button>
        <ix-button class="d-block mb-2" (click)="modal.close('review')">Add Review</ix-button>
      </div>
    </ix-modal-content>
    <ix-modal-footer>
      <ix-button outline class="dismiss-modal" (click)="modal.dismiss('dismiss')">Cancel</ix-button>
    </ix-modal-footer>
  </ix-modal>
</ng-template>

<ng-template #reviewModal let-modal>
  <ix-modal>
    <ix-modal-content>
      <app-product-detail-form></app-product-detail-form>
    </ix-modal-content>
    <ix-modal-footer>
      <ix-button outline class="dismiss-modal" (click)="modal.dismiss('dismiss')">Cancel</ix-button>
    </ix-modal-footer>
  </ix-modal>
</ng-template>
